<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>Type the location name in the search box provided on the home page.</p>
        <p>Wait for the weather information to load, and see it display accordingly!</p>
        <p>For additional details, reach out via ridwanraji4@gmail.com. <a href="mailto:ridwanraji4@gmail.com">Send mail</a></p>
    </div>
    
    {{>footer}}
</body>

</html>